header {
  width: 100%;
  background: black;
  padding-top: 15px;
}

.heading {
  font-size: 1.5em;
  margin: 0;
}

.heading-content {
  margin : 0px;
  font-size: 1.2em;
}
.container {
  width:75%;
  margin: auto;
}

.nav-list {
  color: white;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  margin: 0px;
}

.nav-items {
  width: 40%;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}